.container {
  max-width: 81.875rem;
  padding: 0 6.25rem;
  margin: 0 auto;
}
@media (max-width: 890px) {
  .container {
    padding: 0 1.25rem;
  }
}
@media (max-width: 321px) {
  .container {
    padding: 0 0.625rem;
  }
}

.wrapper {
  font-family: PT Sans;
  font-size: 0.875rem;
}

.main {
  width: 100%;
}

body {
  background-color: #000;
}

body._lock {
  overflow: hidden;
}

.text {
  color: #fff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.title {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}

.title::after {
  content: "";
  width: 7.5rem;
  height: 0.0625rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.875rem;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.header {
  color: #969696;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
  opacity: 1;
  transition: top 0.7s ease-in;
}

.header._scroll {
  top: -100%;
}

.header-top {
  background-color: #000;
}
.header-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.75rem;
}
.header-top__information {
  display: flex;
  align-items: center;
  gap: 0 1.75rem;
  font-family: PT Sans;
  font-size: 0.75rem;
}
.header-top__number svg {
  margin-right: 0.9375rem;
}
.header-top__working-days {
  position: relative;
}
.header-top__working-days::after, .header-top__working-hours::after {
  content: "";
  width: 0.0625rem;
  height: 1rem;
  background-color: #969696;
  position: absolute;
  left: -0.875rem;
  top: 0;
}
.header-top__working-hours {
  position: relative;
}
.header-top__account {
  display: flex;
  align-items: center;
  gap: 0 0.6875rem;
}
.header-top__sign-in-icon {
  background-image: url(../images/header/sign-in--gray.png);
  width: 14px;
  height: 14px;
  transition: all 0.3s ease;
}
.header-top__sign-in:hover .header-top__sign-in-icon {
  background-image: url(../images/header/sign-in--white.png);
}
.header-top__sign-in:hover, .header-top__sign-up:hover {
  color: #fff;
}
.header-top__sign-in {
  display: flex;
  align-items: center;
  gap: 0 0.625rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.header-top__sign-up {
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.header-top__sign-up::before {
  content: "/";
  position: absolute;
  top: -0.0625rem;
  left: -0.4688rem;
}
@media (max-width: 768px) {
  .header-top__phone svg {
    margin-right: 5px;
  }
}
@media (max-width: 615px) {
  .header-top__working-hours {
    display: none;
  }
}
@media (max-width: 514px) {
  .header-top__working-days {
    display: none;
  }
}
.header-bottom {
  background-color: #0f0f0f;
  margin-top: -1px;
}
.header-bottom__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;
}
.header-bottom__inner {
  display: flex;
  align-items: center;
}
.header-bottom__search {
  margin-left: 2.5rem;
}
.header-bottom__hamburger-icon {
  z-index: 5;
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  margin-left: 1.25rem;
  cursor: pointer;
}
.header-bottom__hamburger-icon::before, .header-bottom__hamburger-icon::after, .header-bottom__hamburger-icon span {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}
.header-bottom__hamburger-icon::before, .header-bottom__hamburger-icon::after {
  content: "";
}
.header-bottom__hamburger-icon::before {
  top: 0;
}
.header-bottom__hamburger-icon::after {
  bottom: 0;
}
.header-bottom__hamburger-icon span {
  top: 50%;
  transform: scale(1) translateY(-50%);
}
.header-bottom__hamburger-icon._open span {
  transform: scale(0) translate(0, -50%);
}
.header-bottom__hamburger-icon._open::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.header-bottom__hamburger-icon._open::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
@media (max-width: 784px) {
  .header-bottom__search {
    margin-left: 20px;
  }
}
@media (max-width: 704px) {
  .header-bottom__hamburger-icon {
    display: block;
  }
  .header-bottom__nav {
    display: block;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
    left: -100%;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-top: 132px;
    overflow: auto;
    transition: left 0.4s ease-in;
  }
  .header-bottom__nav._open {
    left: 0;
  }
}
@media (min-width: 705px) {
  .header-bottom__hamburger-icon {
    display: none;
  }
}
@media (max-width: 426px) {
  .header-bottom__search {
    margin-left: 0.625rem;
  }
  .header-bottom__hamburger-icon {
    margin-left: 0.625rem;
  }
}

.nav {
  margin-right: 3.75rem;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  padding: 2.25rem 1.25rem;
  transition: all 0.3s ease;
}
.nav__item:hover {
  background-color: #1f1f1f;
  color: #fff;
}
.nav__link {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 704px) {
  .nav__link {
    font-size: 30px;
  }
  .nav__list {
    display: block;
    padding: 10vh 15%;
    min-height: 500px;
  }
  .nav__item {
    font-size: 26px;
    color: #fff;
  }
  .nav__item:hover {
    background-color: transparent;
    color: #969696;
  }
}

.footer-top {
  background-image: -webkit-image-set(url("../images/footer-top-bg/footer-top-bg-big.webp") 2x, url("../images/footer-top-bg/footer-top-bg-small.webp") 1x);
  background-image: image-set(url("../images/footer-top-bg/footer-top-bg-big.webp") 2x, url("../images/footer-top-bg/footer-top-bg-small.webp") 1x);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover;
}
.footer-top__wrapper {
  display: flex;
  min-height: 25rem;
  padding-top: 5rem;
  padding-bottom: 6.25rem;
  flex-wrap: wrap;
}
.footer-top__about {
  max-width: 350px;
  margin-right: 31px;
  margin-bottom: 50px;
}
.footer-top__title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.footer-top__title::after {
  content: none;
}
.footer-top__about-text {
  text-align: left;
  font-size: 0.875rem;
}
.footer-top__categories {
  margin-bottom: 3.125rem;
  margin-right: 5.75rem;
  max-width: 17.9375rem;
}
.footer-top__categories-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  flex-wrap: wrap;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}
.footer-top__categories-button,
.footer-top .form__button {
  height: 2.5625rem;
  padding: 0 1.25rem;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d0d0d0;
}
.footer-top__mailing {
  max-width: 21.875rem;
}
.footer-top__mailing-text {
  text-align: left;
  font-size: 0.875rem;
  margin-bottom: 2.3125rem;
}

.form {
  display: flex;
}
.form__input {
  background-color: rgba(255, 255, 255, 0.4);
  width: 210px;
  height: 42px;
  padding: 0 20px;
  color: #fff;
}
.form__input:focus {
  background-color: rgba(183, 183, 183, 0.4);
}
.form__input {
  border: none;
  outline: none;
}
.form__input::-moz-placeholder {
  color: #969696;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}
.form__input::placeholder {
  color: #969696;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.footer-bottom__wrapper {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom__rights, .footer-bottom__source {
  font-size: 0.75rem;
  font-weight: 400;
  color: #d0d0d0;
  transition: all 0.3s ease;
}
.footer-bottom__source:hover {
  color: #fff;
}

.intro {
  width: 100%; /* 810/1920 */
  margin-top: 131px;
  padding: 9.876543% 10px 19.012346%;
  background-image: -webkit-image-set(url("../images/intro-bg/intro-bg-big.webp") 2x, url("../images/intro-bg/intro-bg-small.webp") 1x);
  background-image: image-set(url("../images/intro-bg/intro-bg-big.webp") 2x, url("../images/intro-bg/intro-bg-small.webp") 1x);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover; /* 810/1080 */
  transition: all 0.7s ease;
}
.intro__city {
  max-width: 320px;
  height: 320px;
  border: 4px solid #fff;
  padding-top: 93px;
  margin: 0 auto 80px;
}
.intro__logo {
  text-align: center;
  position: relative;
  margin-bottom: 17px;
}
.intro__city-names {
  padding-top: 5px;
  max-width: 182px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 32px;
  overflow: hidden;
}
.intro__city-name {
  color: #fff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
.intro__logo::after {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.intro__text {
  text-transform: uppercase;
  max-width: 45.625rem;
  margin: 0 auto;
}

.intro._scroll {
  margin-top: 0;
}

.collections {
  color: #fff;
}

.new-colletions {
  width: 100%;
}
.new-colletions__title {
  margin-top: 5.8125rem;
  margin-bottom: 6.25rem;
}
.new-colletions__title::after {
  bottom: -3.125rem;
}
.new-colletions__items {
  padding: 0 5rem 5.8125rem 5rem;
}
.new-colletions__catalog-link {
  /* 880/1920 */
  padding-top: 30.25rem;
  padding-bottom: 6.25rem;
  background-image: -webkit-image-set(url("../images/new-collections-bg/new-collections-bg-big.webp") 2x, url("../images/new-collections-bg/new-collections-bg-small.webp") 1x);
  background-image: image-set(url("../images/new-collections-bg/new-collections-bg-big.webp") 2x, url("../images/new-collections-bg/new-collections-bg-small.webp") 1x);
  background-repeat: no-repeat;
  background-position: top left;
  overflow: hidden;
  background-size: cover;
}
.new-colletions__catalog-title {
  margin-bottom: 3.75rem;
}
.new-colletions__btn {
  width: 8.5625rem;
  height: 2.9375rem;
  margin: 0 auto;
}
@media (min-width: 1910px) {
  .new-colletions {
    display: flex;
    min-height: 45.625rem;
  }
  .new-colletions__cards {
    width: 54.166667vw;
  }
  .new-colletions__catalog-link {
    width: 45.833333vw;
  }
}

@media (min-width: 1910px) {
  .toggle-card-1 {
    display: none;
  }
}
@media (max-width: 1346px) {
  .toggle-card-1 {
    display: none;
  }
}
@media (max-width: 1040px) {
  .toggle-card-1 {
    display: block;
  }
}
@media (max-width: 732px) {
  .toggle-card-1 {
    display: none;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  -moz-column-gap: 47px;
       column-gap: 47px;
  row-gap: 50px;
  justify-content: center;
  position: relative;
}

.card {
  cursor: pointer;
  width: 260px; /* 260/1040 */
  transition: all 0.4s ease;
  padding-bottom: 5px;
  z-index: 5;
}
.card__image {
  background-color: #191b1c;
  width: 100%; /* 260/1920 */
  height: 325px;
  margin-bottom: 1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__name {
  margin-left: 5px;
  font-family: "Playfair Display";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.625rem;
  color: #fff;
}
.card__price {
  margin-left: 5px;
  color: #d0d0d0;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card:hover {
  transform: scale(115%);
  z-index: 10;
  box-shadow: 0px 0px 17px 4px rgba(255, 255, 255, 0.36);
}

.old-collections__image {
  width: 100%;
  background-image: -webkit-image-set(url("../images/old-collections-bg/old-collections-bg-big.webp") 2x, url("../images/old-collections-bg/old-collections-bg-small.webp") 1x);
  background-image: image-set(url("../images/old-collections-bg/old-collections-bg-big.webp") 2x, url("../images/old-collections-bg/old-collections-bg-small.webp") 1x);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  min-height: 37.5rem;
}
.old-collections__wrapper {
  width: 100%;
  padding: 6.25rem 20%; /* 284/1920 */
}
.old-collections__title {
  margin-bottom: 5rem;
  font-weight: 400;
}
.old-collections__text {
  margin-bottom: 3.8125rem;
  line-height: 150%;
}
.old-collections__btn {
  width: 19.4375rem;
  height: 2.9375rem;
}
@media (max-width: 530px) {
  .old-collections__wrapper {
    padding: 4.375rem 1.25rem; /* 284/1920 */
  }
  .old-collections__btn {
    width: 15.3125rem;
  }
}
@media (min-width: 1910px) {
  .old-collections {
    display: flex;
  }
  .old-collections__image {
    width: 45.833333vw;
  }
  .old-collections__wrapper {
    width: 54.166667vw;
    order: 2;
    padding: 6.25rem 0;
  }
  .old-collections__text {
    max-width: 29.4375rem;
    margin: 0 auto 5rem;
  }
}

.new-arrivals {
  max-width: 1150px;
  margin: 0 auto;
  padding: 120px 20px 150px;
}
.new-arrivals__title {
  margin-bottom: 121px;
}
.new-arrivals__cards {
  -moz-column-gap: 23px;
       column-gap: 23px;
}

@media (min-width: 1149px) {
  .toggle-card-2 {
    display: none;
  }
}
@media (max-width: 872px) {
  .toggle-card-2 {
    display: none;
  }
}
.our-brands {
  background-color: #0F0F0F;
  min-height: 22.625rem;
  padding: 3.75rem 0 5rem;
}
.our-brands__title {
  margin-bottom: 5rem;
}
.our-brands__wrapper {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.animation__fade-in--up {
  transition: all 0.9s ease-in;
  transform: translateY(0.9375rem);
  opacity: 0;
}

.animation__start {
  transform: translateY(0px);
  opacity: 1;
}

.animation__change-words {
  animation-name: change-words;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes change-words {
  0% {
    margin-top: 0;
  }
  12.5% {
    margin-top: 0;
  }
  25% {
    margin-top: -1.875rem;
  }
  37.5% {
    margin-top: -1.875rem;
  }
  50% {
    margin-top: -3.875rem;
  }
  62.5% {
    margin-top: -3.875rem;
  }
  75% {
    margin-top: -5.8125rem;
  }
  100% {
    margin-top: -5.8125rem;
  }
}/*# sourceMappingURL=styles.css.map */