.header {
    color: $gray;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 100;
    opacity: 1;
    transition: top 0.7s ease-in-out;
}

.header._scroll {
    top: -100%;
}

.header-top {
    background-color: $black;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 2.75rem;
    }
    &__information {
        display: flex;
        align-items: center;
        gap: 0 1.75rem;

        font-family: PT Sans;
        font-size: 0.75rem;
    }

    &__number svg {
        margin-right: 0.9375rem;
    }

    &__working-days {
        position: relative;
    }

    &__working-days::after,
    &__working-hours::after {
        content: "";
        width: 0.0625rem;
        height: 1rem;
        background-color: $gray;
        position: absolute;
        left: -0.875rem;
        top: 0;
    }

    &__working-hours {
        position: relative;
    }

    &__account {
        display: flex;
        align-items: center;
        gap: 0 0.6875rem;
    }

    &__sign-in-icon {
        background-image: url(../images/header/sign-in--gray.png);
        width: 14px;
        height: 14px;
        transition: all 0.3s ease;
    }

    &__sign-in:hover &__sign-in-icon {
        background-image: url(../images/header/sign-in--white.png);
    }

    &__sign-in:hover,
    &__sign-up:hover {
        color: $white;
    }

    &__sign-in {
        display: flex;
        align-items: center;
        gap: 0 0.625rem;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }
    &__sign-up {
        position: relative;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

    &__sign-up::before {
        content: "/";
        position: absolute;
        top: -0.0625rem;
        left: -0.4688rem;
    }

    // -------------------------------------------

    @media (max-width: 768px) {
        &__phone svg {
            margin-right: 5px;
        }
    }

    @media (max-width: 615px) {
        &__working-hours {
            display: none;
        }
    }

    @media (max-width: 514px) {
        &__working-days {
            display: none;
        }
    }

    @media (max-width: 426px) {
    }
}
.header-bottom {
    background-color: #0f0f0f;
    margin-top: -1px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5.5rem;
    }
    &__inner {
        display: flex;
        align-items: center;
    }

    &__search {
        margin-left: 2.5rem;
    }

    &__hamburger-icon {
        z-index: 5;
        display: none;
        position: relative;
        width: 30px;
        height: 18px;
        margin-left: 1.25rem;
        cursor: pointer;
    }

    &__hamburger-icon::before,
    &__hamburger-icon::after,
    &__hamburger-icon span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: $white;
    }

    &__hamburger-icon::before,
    &__hamburger-icon::after {
        content: "";
    }

    &__hamburger-icon::before {
        top: 0;
    }

    &__hamburger-icon::after {
        bottom: 0;
    }

    &__hamburger-icon span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }

    &__hamburger-icon._open span {
        transform: scale(0) translate(0, -50%);
    }

    &__hamburger-icon._open::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    &__hamburger-icon._open::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    @media (max-width: 784px) {
        &__search {
            margin-left: 20px;
        }
    }

    @media (max-width: 704px) {
        &__hamburger-icon {
            display: block;
        }

        &__nav {
            display: block;
            position: absolute;
            z-index: 10;
            background-color: rgba($black, $alpha: 0.9);
            left: -100%;
            right: 0;
            top: -1px;
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
            margin-top: 132px;
            overflow: auto;
            transition: left 0.4s ease-in;
        }

        &__nav._open {
            left: 0;
        }
    }

    @media (min-width: 705px) {
        &__hamburger-icon {
            display: none;
        }
    }

    @media (max-width: 426px) {
        &__search {
            margin-left: 0.625rem;
        }

        &__hamburger-icon {
            margin-left: 0.625rem;
        }
    }
}
.nav {
    margin-right: 3.75rem;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 2.25rem 1.25rem;
        transition: all 0.3s ease;
    }

    &__item:hover {
        background-color: #1f1f1f;
        color: $white;
    }

    &__link {
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    @media (max-width: 704px) {
        &__link {
            font-size: 30px;
        }

        &__list {
            display: block;
            padding: 10vh 15%;
            min-height: 500px;
        }

        &__item {
            font-size: 26px;
            color: $white;
        }

        &__item:hover {
            background-color: transparent;
            color: $gray;
        }
    }
}
